<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', {title: 'Início'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- última visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Baseado em sua última visita</h2>
			</div>
			<% for (visitado of visitados) { %>
				<!-- Show the "visited" products -->
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detail/<%=visitado.id%>">
							<figure class="product-box_image">
								<img src="/images/products/<%=visitado.img%>" alt="imagem do produto">
							</figure>
							<article class="product-box_data">
								<h2><%= visitado.preco - ((visitado.preco*visitado.desconto)/100)%></h2>
								<span><%=visitado.desconto%> % OFF</span>
								<p><%=visitado.nome_prod%></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<%}%> 
			</div>
		</div>
	<!-- /ultima visita -->

	<!-- Ofertas -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ofertas</h2>
			</div>
		<% for (oferta of ofertas) { %>
			<!-- Show the "in-sale" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detail/<%=oferta.id%>">
						<figure class="product-box_image">
							<img src="/images/products/<%=oferta.img%>" alt="imagem do produto">
						</figure>
						<article class="product-box_data">
							<h2><%= oferta.preco - ((oferta.preco*oferta.desconto)/100)%></h2>
							<span><%=oferta.desconto%> % OFF</span>
							<p><%=oferta.nome_prod%></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
			<%}%> 
		</div>
	</div>
	<!-- /Ofertas -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>