<!DOCTYPE html>
<html lang="pt-br">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados da sua busca'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados da sua busca: <%=resultado.nome_prod%></h2>
			</div>
			<% if(resultado) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detail/<%=resultado.id%>">
							<figure class="product-box_image">
								<img src="/images/products/<%=resultado.img%>" alt="imagem do produto">
							</figure>
							<article class="product-box_data">
								<h2><%=resultado.preco - ((resultado.preco*resultado.desconto)/100)%></h2>
								<span><%=resultado.desconto%> % OFF</span>
								<p><%=resultado.nome_prod%></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% } else {%>
			<div class="col-12">
				<h2 class="products-title" style="color: tomato;">Não há produtos que correspondam a esta pesquisa</h2>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /todos os produtos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>